<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form id="formReponseAnnonce" method="POST">
                <div class="form-group">
                    <label for="nom">Prénom - Nom</label>
                    <input
                        type="text"
                        name="nom"
                        id="nom"
                        class="form-control"
                        required
                    />
                </div>
                <fieldset>
                    <label for="annonceur">Lieu</label>
                    <div>
                        <input
                            type="checkbox"
                            id="annonceur"
                            name="annonceur"
                            class="lieu" />
                        <label for="annonceur">Chez l'annonceur</label>
                    </div>
                    <div>
                        <input
                            type="checkbox"
                            id="catsitter"
                            name="catsitter"
                            class="lieu" />
                        <label for="catsitter">Chez le catsitter</label>
                    </div>
                </fieldset>
                <label for="prix">Prix</label>
                <div class="input-group mb-2">
                    <input
                        type="number"
                        id="prix"
                        name="prix"
                        class="form-control"
                        aria-label="Prix" />
                    <div class="input-group-append">
                        <span class="input-group-text">€</span>
                    </div>
                </div>
                <input type="button" id="reponseAnnonce" value="Répondre" class="btn btn-info btn-block" />
            </form>

            <% if (typeof(nom) !== "undefined" && typeof(lieu) !== "undefined" && typeof(prix) !== "undefined" && typeof(annonce[0]) !== "undefined") { %>
                <div id="lienReponse">
                    Cliquez
                    <a href="mailto:<%= annonce[0].email %>?subject=Gardiennage chats&body=Nom : <%= nom %>%0D%0ALieu : <%= lieu %>%0D%0APrix : <%= prix %>">
                        ici
                    </a>
                    pour envoyer votre réponse !
                </div>
            <% } %>
        </div>
        <div class="col-4"></div>
    </div>
</div>

<script type="text/javascript">
    document.getElementById('reponseAnnonce').addEventListener('click', function() {
        let checked = 0;
        let checkboxs = document.getElementsByClassName('lieu');

        for(let i = 0; i < checkboxs.length; i++) {
            checked = checked + checkboxs[i].checked;
        }
        console.log(checked);

        if(!checked) {
            alert("Vous devez sélectionner au moins 1 valeur pour le champ 'Lieu'.");
            return false;
        } else {
            document.getElementById('formReponseAnnonce').submit();
        }
    });
</script>