.col-4 {
    margin-top: 2rem;
}

#titleAnnonce {
    text-align: center;
}

.btn, #lienReponse {
    margin-top: 1rem;
}

.card {
    width: 20rem;
    margin: 1rem 1rem;
    padding: 1rem;
}

.homeImage {
    height: 14rem;
    width: 14rem;
    margin: 0 2rem;
}

.reponseAnnonce {
    margin-top: 0;
}

.headers {
    font-weight: bold;
}